




<div class="govuk-panel govuk-panel--confirmation" style="width:40%; background: #F2F2F2;border-radius: 14px;color: #1E2428;">
  <h1 class="govuk-panel__title">
        Thank you
  </h1>
  <div class="govuk-panel__body">
        Your results have been emailed to the address you specified
  </div>
</div>

<p>
    <h3 class="govuk-heading-s">What happens next?</h3>
</p>

<p class="govuk-label">

    You can now close your browser tab or window

</p>


<a href="/" class="govuk-back-link">Back to the homepage</a>

