<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you
          </h1>
          <div class="govuk-panel__body">
             We have received your message
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
           One of our employment advisers will contact you in the next 48 hours to arrange an initial appointment.
        </p>


        <%# <p><a href="/" class="govuk-link">Back to the homepage</a></p> %>
        <p><a href="/" class="app-button">Back to the homepage</a></p>
        
      </div>
    </div>
  </main>