
/*   Public   */


:root {
    --main-tag-color: #05B7AC; /* Header Beta Colour  */
    --main-txt-color: #000000; /* Black */
    --main-bg-alert-color: #E0D6FF; /* Purple */
    --main-border-alert-color: #6633FF; /* Dark Purple */
    --main-bg-beta-color: #F3F3F3; /* Light Grey */
    --main-txt-hint-color: #8C8C8C; /* Light Grey */
    --main-bg-button-color: #2B292D; /* Black */
    --main-bg-footer-color: #F7F7F7; /* Light Grey */
    --main-bg-email-results-color: #BFDBE2; /* Light Blue */
    --main-border-results-color: #BFDBE2; /* Light Blue */
    --main-tick-results-color: #6633FF; /* Purple */
    --main-txt-about-color: #1E2428; /* Black */
    --main-bg-white-color: #E5E5E5; /* White */
    --main-bg-puple-color: #6633FF; /* Purple */
  }


 @media only screen and (min-width: 600px) and (max-width: 960px)  {
  

    /* Used for debugging styling */
   /* body {background-color: grey !important; }*/

    .app-m-small{width:220px !important;}
    .app-m-email-label{display:none!important;}
    .app-m-email-results{display:block!important;}
    .app-label-padding{padding-left:5px!important;}
    .app-button-send{width:70px !important;}
    #warning{height: 750px !important;}
}

  @media only screen and (max-width: 600px) {

      /* Used for debugging styling */
   /* body {background-color: lightblue !important; }*/

    #warning{height: 920px !important;}
    .app-warning-container{display:grid;height: 100px!important; }
    .app-warning-imformation-small-device-padding{padding-left:20px;}
    .app-label-hideshow-warning{padding-left: 20px;}
    .app-covid-warning{border-bottom: Solid 0px #6633FF !important;}
    .app_homePage_image_width { width: 95%;}
    .app-label-small-device{padding-bottom: 15px;}
     #iframe-Mapp{width:340px !important;}

     .app-m-small{width:220px !important;}
     .app-m-email-label{display:none!important;}
     .app-m-email-results{display:block!important;}
     .app-label-padding{padding-left:5px!important;}
     .app-button-send{width:70px !important;}
     .app-div-button{padding-top:15px;}

    .govuk-width-container{max-width: 100% !important;}

    .app_homePage_image_width {  
            padding: 0px;
            margin: 0px;
        }

/* End 600 */
  }
  
  @media only screen and (min-width: 724px) and (max-width: 1020px) {
   
     /* Used for debugging styling */
    /*body {background-color: yellow !important;}*/


    .govuk-width-container{max-width: 100% !important;} 
    #warning{height: 650px !important;}
    .app_homePage_image_width {padding: 0px;margin: 0px; }

/* End 1020 */
  }


/*  Overrides  */

.govuk-label{
    font-family: 'Source Sans Pro', sans-serif;
}

.govuk-hint{
    font-family: 'Source Sans Pro', sans-serif;
}

.govuk-heading-l{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    margin-bottom:0px;
}

.govuk-header{
    font-family: 'Source Sans Pro', sans-serif;
	background-color: white !important;
}

.govuk-footer{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: var(--main-bg-footer-color) !important;
}

.cookie-banner {
    background-color: var(--main-bg-footer-color);
    padding: 20px;
    border-top: solid 2px var(--main-bg-button-color);
}

/* Used to hide Location panels and cookie banner on start  */
.start-hidden {
    display: none;
  }

.govuk-list--bullet{
    padding-left: 10px;
}

.govuk-header__navigation {
	text-align: right;
}
.govuk-header__navigation-item{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
}
.govuk-body-l{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
}

.app-header__content {
    width:100% ;
    padding-left: 15px;
	float: left;	
}


/* Top header  */
.app-tag{
    background-color: var(--main-tag-color) !important;;
}

.app-link-custom{
    color: var(--main-border-alert-color) !important;
    font-weight: bold;
}

.app-header__logo {
    padding-top: 10px;
    height: 40px;
}

.app-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}
.app-phase-banner__content {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14286;
    color: var(--main-txt-color);
	margin: 0;
	text-align: center;
	width:100%;
}

/* Header  */
.app-header__container {
    position: relative;
    margin-bottom: 5px;
    padding-top: 30px;
	border-bottom: 0px;
	color: var(--main-txt-color);
}

/*  Right Navigation */
.app-header__navigation {
    margin-bottom: 10px;
    display: block;
    margin: 0;
    padding: 0;
	list-style: none;
    color: var(--main-txt-color);
    text-align: right;
}

.app-nav_link{
    color: var(--main-txt-color) !important;
    text-decoration: none;
}
.app-nav_link:active{
    color: var(--main-txt-color) !important;
    background-color: var(--main-bg-alert-color);
    text-decoration: underline;
    padding: 2px;
}
.app-nav_link:hover{
    color: var(--main-txt-color) !important;
    text-decoration: underline;
}

/*  Logo Link     */
.app-header__link--homepage:hover{
    cursor: pointer;
}

.app_link{
	color: var(--main-txt-color) !important;
}

/*    Container        */
.app-height-container{
    height: 500px;
}

.app-width-container {
    border-bottom-color: white !important;
    /*width:1020px;*/
}

/*    Warning Styles             */
.app-warning-container{
    font-family: Source Sans Pro;
    margin-top: 10px !important; /*  Distance from Menu  */
    padding-top: 20px !important;
    /* Problem with colour after hide with CSS Var  */
    background-color: #E0D6FF !important; /* Light Purple   */
    border-bottom: solid 2px #E0D6FF !important;
    height: 50px;
}

.app-grid-column-padding-warning{
    padding:30px 120px 5px 50px;
}

.app-covid-warning{
    font-family: Source Sans Pro;
    margin: 15px;  /*  Left Margin  */
    color: var(--main-txt-color);
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
    border-bottom: solid 2px #000000; /* Underline warning  */
}
.app-covid-warning-container{
    height:30px;
    width:290px;
    display: contents;
}
.app-warning-label-larger{
    font-size: 24px;
}

.app-warning-ul{
    margin-left: -20px;
}

.app-covid-warning-container-message{
    color: var(--main-txt-color);
    text-decoration: underline;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.app-panel-warning-information{
    font-family: Source Sans Pro;
    padding: 10px;
    margin-top: 10px;
    border-top: solid 2px  #6633FF;
    width:80%;
    color: var(--main-txt-color);
}
.app-panel-warning-information-label{
    color: var(--main-txt-color);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
}

#warning { margin-top: 10px; border: 1px solid #000000; width: 200px; height: 100px;
    padding: 5px;
}
/*  Used for Show Message Covid 19 */
input:not(:checked) + label + div { visibility:hidden }
input + label:after { content: ""; }
input:checked + label:after { content: " - Hide"; }


/* Footer Classes  */
.app-footer__meta-item{
    text-align: left;
}

.app-footer-bordernone{
    border-top-style: none;
    background-color: var(--main-bg-footer-color);
}

.app_footer__inline-line-line{
    text-align: left;
    margin-bottom: 200px;
}

.app_meta-custom{
    text-align: left;
    margin-top:50px;
    margin-bottom: 20px;    
}


/* Home Page  */

.app_homePage_image_width {
    padding: 0px;
    margin: 0px;
}

.app-grid-column-one-quarter{
    text-align: center;
    float: right;
}
.app-home-p-padding{
    padding-top:28px;
}

.app-h1_home{
    font-size: 50px;
}

.app-home-p-padding-top{
    padding-top:20px;
    padding-bottom:20px;
}

.list_button{
    font-size: 30px;
}


/*  Buttons  */

.app-button-text{
    padding: 17px 20px 20px 69px;
}

.app-button-finish-width{
    width:150px !important;
}

.app-button-black {
	background-color: var(--main-bg-button-color);
	border-radius:30px;
	border:1px solid #000000;
	display:inline;
	cursor:pointer;
    color:var( --main-bg-white-color);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
	font-size:17px;
    text-decoration:none;
    padding:15px 0px 15px 0px;
}
.app-button-black:hover {
    background-color:#616A70;
    border:1px solid #616A70;
    color:var( --main-bg-white-color);
}
.app-button-black:active {
    background-color: var( --main-bg-puple-color);
    border:1px solid  var( --main-bg-puple-color);
    color:var( --main-bg-white-color);
	position:relative;
	top:1px;
}
 /*  Details Send Button  */

 .app-button-send{
    background: #1E2428;
    border-radius: 0px 50px 50px 0px;
    width: 100.82px;
    height: 44px;
    color:White;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    margin-left:-10px;
 }


i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left:50px;
  }
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  /*  Spacing under start button  */
  .app-grid-row-images{
    padding-top: 60px;
    font-family: 'Source Sans Pro', sans-serif;
  }

/*   Bullets  */
  .app-list--bullet{
        font-size: 30px;
  }
  .app-body-l{
    /*  Smaller margin for bullets   */
    margin-left: -10px;
  }

  .app-li-home-font{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
  }


  /*   Radio Buttons   */

  .app-radios-height{
      height:200px;
  }


  /*  Answers location   */
 
  .app-panel-postcode-sidebar{
    padding-left: 10px;;
    border-left: solid rgba(102, 51, 255, 0.2) 8px; /*  Purple side bar - Postcode   */
  }

.govuk-radios__item input:checked + label:after {
    content: ""; 
}

.app-p-margin-bottom{
      margin-bottom: 30px;
}

/*   Checkboxes   */
.app-checkbox-width_container{ 
    display:inline-flex;
    width:100%
}

.app-checkbox-width-third{ 
    width:40%
}

.app-checkbox-wrapper input:checked + label:after {
    content: ""; 
}

.app-checkbox-wrapper{
    margin-top: 30px;;
}

/*  Support Page label   */
.app-label-question{
    font-weight: 600;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}


/*  About you Page   */
.app-hint-custom{ 
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #8C8C8C;
}

.app-hint-include-label{
    padding-left: 14px;
}

.app-p-width-half{
    width:50%;

}

/* Type of help - Page  */
.app-label-margin-bottom{
    margin-bottom: 15px;
}
.app-heading-margin-top-bottom{
    margin-top: 35px;
    margin-bottom: 35px;
}

/*  Results page */
.app-panel-result-text{
    padding: 10px;
    text-align: left;
}

.app-panel-email-results {
    background-color: #BFDBE2; /* lightblue;*/
    display: inline-flex;
    height: 70px;
    width: 100%;
    align-items: center;
}

.app-label-padding{
    padding-left:15px;
    padding-right:15px;;
}

/*  Service results page   */

.app-link-details{
    text-decoration: none;
    color: var(--main-txt-color);
}

.app-m-email-results{display:none;}


/*   Details Panel    */
.app-list-details-custom li:first-child {
    border: 4px solid #BFDBE2;  /*  Lightblue   */
    border-radius: 15px;
  }

  .app-list-details-custom li {
    width: 75%;
    border-bottom: 1px solid #C4C4C4; /* Grey  */
  }

  .app-label-li-description{
    width: 90%;
  }

  .app-label-li-name{
      font-weight: bold;
      padding-bottom: 25px;
  }

  .app-button-li-details{
    float:right;
  }
  .app-div-button{
    display: inline-block; width:100%;
  }

  .app-label-li-tags{
    padding-top: 30px;
  }

  .app-label-li-tags::before {
    content: "\2713\0020";
    padding-right:2px;
    font-size: 1.3em;
    line-height: 0.8;
    color: var(--main-tick-results-color);
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
  }

.app-button-details{
    width:150px !important;
    text-align: center;
}

  /*  Details Page     */
.app-panel-details-width{
    width:55%;
    display: inline-block;
}

 .app-label-title{ 
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 12px;
 }
 .app-label-text{
    font-family: Source Sans Pro;
    font-size: 12px;
 }

.app-panel-contact{
    margin-top: 20px;
    width:20%; 
    border-top: solid 2px  #BFDBE2; 
    float:right;
 }
 .app-panel-covid-information{
   padding-left:10px;
    width:80%;
    border-left: solid 4px rgba(102, 51, 255, 0.2);

 }

 .app-label-hideshow-warning{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 24px;
    float:right; 
    padding-right:40px; /* Margin right for Show Message */
    color: var(--main-txt-color);
    text-decoration: underline;
 }
 .app-div-details-missing-text{
    width:60%;
    padding-top: 50px;
 }

 /*  Purple tick on details page   */
 .app-label-tags::before {
    content: "\2713\0020";
    padding-right:2px;
    font-size: 1.3em;
    line-height: 0.8;
    color: var(-main-tick-results-color);
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
  }

/*  About Page   */
.app-li-margin{
    padding-bottom: 20px;;
    color: var(--main-txt-color);
}
.app-ul-margin{
    margin-top: 40px;
    margin-left: -20px;
}
.app-about-link-blog{
    /* This will be links. TODO  */
    color: var(--main-tick-results-color);
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.app-panel-blog{
    padding-top: 2px;
    margin-top: 80px;
    border-top: solid 2px  #BFDBE2; 
}
.app-panel-blog-margin{
  padding-left: 50px;  
}
/* About Main Text */
.app-panel-padding{
    padding-right: 50px;
}
.app-header-text-bold{
    font-weight: bold;
}
.app-heading-additional-padding{
    padding-left: 10px;;
}
.app-about-hint-larger{
    font-size: 24px;
    line-height: 30px;
    color: var(--main-txt-hint-color);
    width:80%;
}


/* Contact Page  */
.app-panel-contact-right{
    padding-top: 2px; 
    border-top: solid 2px  #BFDBE2; 
}

.app-panel-contact{
    border-top: solid 2px  #BFDBE2; 
}
.app-p-contact{
    border-top: solid #BFDBE2 2px; padding-bottom:10px; padding-top:10px;
}
.app-font-bold{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 26px;
}
.app-contact-address-label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.app-map{
    padding-top: 50px;
}

/*   Location Validation Panel  */
.app-options-validation{
    border-left: solid 8px red;
    padding-left: 10px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-top:10px;
}















  .test{
      background-color: red;;
  }