.app-header{
    padding: 25px 0px;
  
    &__masthead{
      max-width: 380px;
      margin-bottom: 15px;
      display: block;
      @media screen and (min-width: 600px){
        margin-bottom: 0px;
      }
      &:focus{
        outline: none;
        box-shadow: 0 0 0 3px $focus;
      }
      img{
        width: 100%;
      }
    }
  
    &__navigation{
      float: none;
      text-align: left;
      a{
        font-weight: bold;
        margin-right: 10px;
        font-size: 1.2rem;
        &:last-of-type{
          margin-right: 0px;
        }
        &:active{
          background: none;
        }
        &:focus{
          outline: none;
          background-color: $focus;
          box-shadow: 0 -2px $focus, 0 4px $black;
          text-decoration: none;
        }
      }
    }
  
    @media screen and (min-width: 600px){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  