@import "vars";

@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}
@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}
$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";
@import "cbc-style";

*, 
.govuk-input{
  font-family: Source Sans Pro, sans-serif;
}

a{
  color: $dark-blue;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@import "header";
@import "alert";
@import "list";

.app-button-black{
  border: none;
  &:focus{
    outline: none;
    box-shadow: 0 0 0 3px $focus;
  }
}