.app-panel-contact{
    margin-top: 20px;
    width:20%; 
    border-top: solid 2px  #BFDBE2; 
    float:right;
 }


.app-panel-blog{
    padding-top: 2px;
    margin-top: 80px;
    border-top: solid 2px  #BFDBE2; 
}
.app-panel-blog-margin{
  padding-left: 50px;  
}


.app-panel-contact-right{
    padding-top: 2px; 
    border-top: solid 2px  #BFDBE2; 
}

.app-panel-contact{
    border-top: solid 2px  #BFDBE2; 
}

.app-p-contact{
    border-top: solid #BFDBE2 2px; padding-bottom:10px; padding-top:10px;
}


.app-contact-address-label{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
