.app-footer__meta-item{
    text-align: left;
}

.app-footer-bordernone{
    border-top-style: none;
    background-color: var(--main-bg-footer-color);
}

.app_meta-custom{
    text-align: left;
    margin-top:50px;
    margin-bottom: 20px;    
}