.app-tag{
    background-color: #D31568 !important;;
}

.app-link-custom{
    color: #203C87 !important;
    font-weight: bold;
}


.app-phase-banner {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #F3F3F3;
    background-color: #F3F3F3;
}
.app-phase-banner__content {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    line-height: 1.14286;
    color: var(--main-txt-color);
	margin: 0;
	text-align: center;
	width: 100%;
}