.gwc-navigation {
    &__container {
        list-style: none;
    }

    &--active {
        // 
    }

    &__item {
        display: inline-block;
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0;
        }

    }

    &__link {
        color: $text-black;
        display: block;
        font-size: 1.1rem;
        font-weight: bold;

        text-decoration: none;

        &:active{
            background: none;
        }
        &:focus{
            outline: none;
            background-color: $govuk-focus-colour;
            box-shadow: 0 -2px $govuk-focus-colour, 0 4px $bg-black;
            text-decoration: none;
        }
    }



}



