$side-content-class: gwc-side-content;

.gwc-side-content {


    &__heading {
        @include govuk-font($size: 19, $weight: bold);
        @include govuk-text-colour;
        display: block;
        margin-bottom: govuk-spacing(1);
        margin-top: govuk-spacing(5);
        &:first-of-type {
            margin-top: 0;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            border-top: 2px solid $bg-pink;
            padding: 10px;
            margin-top: 10px;
            font-weight: bold;
        }
        a {
            display: block;
            color: darken($cerulean, 11);

            &:focus {
                color: $text-color;
                outline: none;
                background-color: $govuk-focus-colour;
                box-shadow: 0 -2px $govuk-focus-colour, 0 4px $bg-black;
                text-decoration: none;
            }

        }
    }

    &__divider {
        height: 2px;
        margin: 10px 0;
        background: $bg-pink;
    }



    &--blue {

        .#{$side-content-class}__list {
            li {
                border-top-color: $bg-bright-blue-half;
            }
        }

        .#{$side-content-class}__divider {
            background: $bg-bright-blue-half;
        }

    }

}