.gwc-navigation {
    &__container {
        list-style: none;
        padding-left: 0;
    }

    &--active {
        // 
    }

    &__item {
        display: inline-block;
        margin-right: 10px;

        &:last-of-type {
            margin-right: 0;
        }

    }

    &__link {
        color: $text-black;
        display: block;
        // font-size: 1.3rem;
        // font-weight: bold;


        @include govuk-font($size: 19, $weight: bold);
        @include govuk-text-colour;
        margin-bottom: govuk-spacing(1);




        text-decoration: none;

        &:active{
            background: none;
        }
        &:focus{
            outline: none;
            background-color: $govuk-focus-colour;
            box-shadow: 0 -2px $govuk-focus-colour, 0 4px $bg-black;
            text-decoration: none;
        }
    }



}



