.gwc-header {
  &__container {
    @include govuk-clearfix;
    @include govuk-width-container();
    padding-top: 40px;
    padding-bottom: 15px;

    @include screen-min-width-500() {
      padding-bottom: 30px;
    }
  }


  &__logo {
    float: left;
    margin-bottom: 15px;
  }
  
  &__nav {
    float: right;
  }


  @include govuk-media-query ($until: tablet) {
    &__logo {
      float: none;
      text-align: center;
    }
    
    &__nav {
      float: none;
      text-align: center;
    }     
  }

}