@include screen-max-width-600() {


  .app_homePage_image_width { width: 95%;}

}

@include screen-max-width-600() {




    .app_homePage_image_width {  
            padding: 0px;
            margin: 0px;
        }
  }


  @include screen-min-width-724-max-width-1020() {
   .app_homePage_image_width {padding: 0px;margin: 0px; }
  }


  .app_homePage_image_width {
    padding: 0px;
    margin: 0px;
}


.govuk-body-l{
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
}