.app-header__navigation {
    margin-bottom: 10px;
    display: block;
    margin: 0;
    padding: 0;
	list-style: none;
    color: var(--main-txt-color);
    text-align: right;
}

.app-nav_link{
    color: var(--main-txt-color) !important;
    text-decoration: none;
}
.app-nav_link:active{
    color: var(--main-txt-color) !important;
    background-color: var(--main-bg-alert-color);
    text-decoration: underline;
    padding: 2px;
}
.app-nav_link:hover{
    color: var(--main-txt-color) !important;
    text-decoration: underline;
}