

<details class="coronavirus-warning">

    <summary>
        Coronavirus (COVID-19) update
    </summary>
    
    <div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds app-grid-column-padding-warning">
                <div>
                    <label class="govuk-label app-warning-label-larger">We know that coronavirus and the measures put in place to help address it are impacting Camden residents in many ways, including around work and finances.</label>
                    <ul>
                        <li class="app-li-margin app-warning-ul">Camden is working with our local employment and skills services to provide support to residents during these confusing and challenging times.</li>
                        <li class="app-li-margin app-warning-ul">We are adapting our employment support service to ensure that we continue to support Camden residents.</li>
                        <li class="app-li-margin app-warning-ul">Our service is currently delivered over the phone and online.</li>
                    </ul><label class="govuk-label app-font-bold">We&#39;re here to help you.</label>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="app-warning-imformation-small-device-padding">
                    <p><label class="govuk-label app-font-bold">More Information</label></p>
                    <div class="app-panel-warning-information">
                        <a href="https://www.gov.uk/coronavirus" class="govuk-label app-panel-warning-information-label">Coronavirus: The official UK government advice</a>
                    </div>
                    <div class="app-panel-warning-information">
                        <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/" class="govuk-label app-panel-warning-information-label">If you&#39;re worried about your health or have coronavirus symptoms, call NHS 111 or check the NHS website.</a>
                    </div>
                    <div class="app-panel-warning-information">
                        <a href="https://camden.gov.uk/coronavirus" class="govuk-label app-panel-warning-information-label">Get help if you&#39;re staying at home because of coronavirus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</details>