// named colours - http://chir.ag/projects/name-that-color

$white: #FFFFFF; // black
$black: #000000; // black
$red-violet: #D31568; // pink
$cerulean: #07A7E1; // light blue
$la-rioja: #B4BD10; // mustardy green
$iron: #DEE0E3; // grey
$bay-of-many: #203C87; // dark blue
$blue-ribbon: #0340F0; //linky blue
$shark: #1E2428; // dark grey
$wild-sand: #F6F6F6; // light light grey
$nevada: #626A6E;


