
// Colours from designs

    /// background colours
    $bg-black: $black;
    $bg-pink: $red-violet;
    $bg-bright-blue: $cerulean;
    $bg-green: $la-rioja;
    $bg-light-grey: $iron;
    $bg-dark-blue: $bay-of-many;


    /// text colours
    $text-black: $black;
    $text-white: $white;
    $text-dark-blue: $bay-of-many;
    $text-pink: $red-violet;
    $text-blue: $blue-ribbon; // link colour



// Global colour variables applied to things (can be overwritten in components

$text-color: $shark !default;
$link-color: $text-blue !default;

$page-bg-color: $wild-sand;

// typography

$sans-serif-font: "Source Sans Pro", "Open Sans", "Segoe UI", Tahoma, sans-serif;

$headings-font: $sans-serif-font;

// gov uk

$govuk-use-legacy-font: false;
$govuk-font-family: $sans-serif-font;


$govuk-link-colour: $link-color;
$govuk-text-colour: $text-color;

$govuk-canvas-background-colour: $page-bg-color;
