
// named colours - http://chir.ag/projects/name-that-color

$white: #FFFFFF; // black
$black: #000000; // black
$red-violet: #D31568; // pink
$cerulean: #07A7E1; // light blue
$la-rioja: #B4BD10; // mustardy green
$iron: #DEE0E3; // grey
$bay-of-many: #203C87; // dark blue
$blue-ribbon: #0340F0; //linky blue
$shark: #1E2428; // dark grey
$wild-sand: #F6F6F6; // light light grey
$nevada: #626A6E;
$concrete: #F3F3F3; // another light grey


// Colours from brand guidelines

    /// background colours
    $bg-black: $black;
    $bg-pink: $red-violet;
    $bg-bright-blue: $cerulean;
    $bg-green: $la-rioja;
    $bg-light-grey: $iron;
    $bg-dark-blue: $bay-of-many;


    /// text colours
    $text-black: $black;
    $text-white: $white;
    $text-dark-blue: $bay-of-many;
    $text-pink: $red-violet;
    $text-blue: $blue-ribbon; // link colour

// other colours

$bg-bright-blue-half: rgba( $cerulean, .5 ) ;



// Global colour variables applied to things (can be overwritten in components

$text-color: $shark !default;
$link-color: $text-blue !default;

$page-bg-color: $wild-sand;

// typography

$sans-serif-font: "Source Sans Pro", "Open Sans", "Segoe UI", Tahoma, sans-serif;

$headings-font: $sans-serif-font;

// gov uk

$govuk-use-legacy-font: false;
$govuk-font-family: $sans-serif-font;


$govuk-link-colour: darken($cerulean, 11);
$govuk-text-colour: $text-color;

$govuk-canvas-background-colour: $page-bg-color;
