


<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="/">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item" aria-current="page">About</li>
</ol>
</div>


<div class="govuk-width-container govuk-body">




<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds app-panel-padding">
  <h1 class="govuk-heading-l">About</h1>

  <div>

    <p class="govuk-hint app-about-hint-larger">
        Together with businesses, partners and residents, the Council is exploring how residents can be better supported into, and thrive within, good work.
    </p>

    </div>

    <p>

        <label class="govuk-label">Camden are committed to providing great employment support across the borough, to everyone who needs it.</label>

    </p>

    <p>

        <label class="govuk-label">We&#39;ve worked with our delivery partners to come up with an offer to residents that will provide holistic support close to where you live considering all the factors in your life that can sometimes make finding work or training pretty tough.</label>

    </p>

    <p>

        <label class="govuk-label">We&#39;ve spoken to loads of residents and community leaders over the last few months, and this has helped us to design a programme of support which will be responsive, easy to access and available to all Camden citizens.</label>

    </p>

    <ul class="app-ul-margin">

    <li class="app-li-margin">
     <label class="govuk-label">We are developing neighbourhood job hubs located close to where you live, so that we can respond quickly and effectively to all your employmentand training needs.</label>
    </li>

    <li class="app-li-margin">
    <label class="govuk-label">We work closely with employers in the area to make sure that local opportunities are available for local people.</label>
    </li>

    <li class="app-li-margin">
    <label class="govuk-label">You can find support with us whatever your circumstances. We can help you for a year or a month, depending on your own situation and what you need from us. If you live in Camden you&#39;re eligible for Good Work Camden.</label>
    </li>

    <li class="app-li-margin">
    <label class="govuk-label">We can support you with your job-search, your online applications forms, or to help you create a great CV. We can help you prepare if you have a job interview, or to find a volunteering role. We can work with you to figure out what your best skills are or identify a course to brush up on the rusty bits.</label>
    </li>

    <li class="app-li-margin">
    <label class="govuk-label">If there&#39;s other stuff going on in your life that&#39;s impacting on your ability toreach your goals, we&#39;ll do our best to support you with those things too.</label>
    </li>

    <li class="app-li-margin">
    <label class="govuk-label">Good Work Camden is here to stay. We&#39;re committed to building a service which will support local people into great jobs now and in the future.</label>
    </li>

    </ul>

  </div>



  <div class="govuk-grid-column-one-third app-panel-blog-margin">
  <div class="app-panel-blog">
    <p><label class="app-header-text-bold">Related content</label></p>

    <p class="govuk-label app-about-link-blog">
      <a href="#"> Good Work Camden blog post</a>
    </p>
    </div>
  </div>

</div>





</div>
