


<div class="govuk-width-container govuk-body">


    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Accessibility statement</h1>

            <p class="govuk-label">
                This website is run by Camden Council and we want as many people as possible to use it. For example, that means you should be able to:    
            </p>

            <p class="govuk-label">

            <ul class="app-ul-margin">

            <li>
                 <label class="govuk-label">navigate most of the website using just a keyboard
                 </label>
            </li>

            <li>
            <label class="govuk-label">navigate most of the website using speech recognition software
            </label>
             </li>

            <li>
            <label class="govuk-label">listen to most of the website using a screen reader 
            </label>
            </li>

            </ul>
               
            </p>

            <p class="govuk-label">
                <a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.     
            </p>

            <p class="govuk-label app-font-bold">
                How accessible this website is   
            </p>

            <p class="govuk-label">
                The website uses Browsealoud for text-to-speech and translation into multiple languages.
            </p>

            <p class="govuk-label">
                You can use the Browsealoud toolbar to magnify text, mask parts of the screen and simplify web pages.
            </p> 

            <p class="govuk-label">
                You can create and download audio files from our pages and play them on another device.
            </p> 

            <p class="govuk-label">
                We know some parts of this website aren&#39;t fully accessible:
            </p> 
             
            </p>

            <ul class="app-ul-margin">

                <li>
                    <label class="govuk-label">some maps are not fully accessible
                    </label>
                </li>

                <li>
                    <label class="govuk-label">some older PDF documents aren&#39;t fully accessible to screen reader software 
                    </label>
                </li>

            </ul>

            <p class="govuk-label app-font-bold">
                What to do if you can&#39;t access parts of this website      
            </p>

            <p class="govuk-label">
                If you need information on this website in a different format, you can contact us by phone or via the website. 
            </p>

            <p class="govuk-label">
                Contact Camden 020 7974 4444
            </p> 

            <p class="govuk-label">
                <a href="https://www.camden.gov.uk/report-an-accessibility-issue">Report any accessibility problems </a>
            </p> 

            <p class="govuk-label app-font-bold">
                Enforcement procedure  
            </p>

            <p class="govuk-label">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) 
                Accessibility Regulations 2018 (the &#39;accessibility regulations&#39;). If you&#39;re not happy with how we respond to your complaint, 
                contact the <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service (EASS)</a>.
            </p> 

            <p class="govuk-label app-font-bold">
                Contacting us by phone or visiting us in person 
            </p>

            <p class="govuk-label">
                Find out how to <a href="https://www.camden.gov.uk/contact-camden">contact us</a>. 
            </p> 

            <p class="govuk-label">
                People who use British Sign Language can contact Camden Council using <a href="https://camden.signvideo.net/">SignVideo Web Access</a>, an online interpreting service.  
            </p> 

            <p class="govuk-label">
                You can also contact us through <a href="http://www.texbox.co.uk/tpo/camden/">TexMee</a> - this is like texting/SMS. You can use this service via its website or app. 
            </p> 

            <p class="govuk-label app-font-bold">
                Technical information about this website&#39;s accessibility
            </p>

            <p class="govuk-label">
                Camden Council is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018. 
            </p> 

            <p class="govuk-label">
                This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard, due to the non-compliance listed below. 
            </p> 

            <p class="govuk-label app-font-bold">
                Non accessible content 
            </p>

            <p class="govuk-label">
                The content listed below is non-accessible for the following reasons: 
            </p> 

            <p class="govuk-label app-font-bold">
                Non compliance with the accessibility regulations
            </p>

            <p class="govuk-label">
                Pages using the issuu viewer (such as the Camden Magazine) are inaccessible because they can't be navigated with just a keyboard. 
                This doesn&#39;t meet WCAG 2.1 success criterion 1.3.1 (Information and Relationships). 
            </p> 

            <p class="govuk-label">
                We plan to make all existing interactive elements compliant by September 2020. When we launch new interactive elements we will make sure they meet this accessibility standard. 
            </p>
            
            <p class="govuk-label app-font-bold">
                Content that&#39;s not within the scope of the accessibility regulations 
            </p>

            <p class="govuk-label">
                Some of our older PDFs don&#39;t meet accessibility standards.
            </p>

            <p class="govuk-label">
                Some of our PDFs and Word documents are essential to providing our services. By September 2020, we plan to either fix or replace key documents with accessible HTML pages. 
            </p>

            <p class="govuk-label">
                Pages with maps may not meet accessibility standards. Where possible we aim to provide a text alternative.  
            </p>

            <p class="govuk-label app-font-bold">
                How we test this website 
            </p>

            <p class="govuk-label">
                This website is automatically tested by Siteimprove software every 7 days. It evaluates the site according to WCAG and gives us a rating score.
            </p>

            <p class="govuk-label">
                The web team regularly act on issues the system finds.
            </p>

            <p class="govuk-label">
                We also consulted the RNIB who carried out an external accessibility audit of our website before it launched. 
            </p>

            <p class="govuk-label app-font-bold">
                What we&#39;re doing to improve accessibility
            </p>

            <p class="govuk-label">
                We are continually working to make improvements to this website and plan to work with residents and external agencies for testing in the future.
            </p>

            <p class="govuk-label">
                This statement was prepared on 19/09/2019. It was last updated on 20/09/2019.
            </p>















        </div>
    
    </div>


  </div>




