
<main class="govuk-main-wrapper" id="main-content" role="main">
<h1 class="govuk-heading-xl">Modern slavery statement</h1>

<p class="govuk-body-l">
    Modern Slavery Act - Transparency Statement    
</p>

<p class="govuk-body">
    Camden Council understands the risk that all forms of modern slavery pose both to our own residents and visitors and internationally through the global nature of modern supply chains. 
    The Council is fully committed to using all avenues open to us to tackle modern slavery by using our statutory powers, our role as a 
    public procurer and through utilising the strengths of all our partnerships with the Police, the NHS and other organisations and through wider awareness-raising.
</p>

<p class="govuk-body">
    The statement below is made pursuant to Section 54 of the Modern Slavery Act 2015 and explains the steps that Camden Council has undertaken to ensure that there is no slavery or human 
    trafficking within our organisation, our sub-contractors, partners or supply chains. 
    This statement relates to actions and activities during the financial year 1 April 2018 to 31 March 2019. It also sets out the plans for improvements in the next year.</p>



<p class="govuk-body govuk-!-font-weight-bold">
    Download: <a class="govuk-link" href="https://www.camden.gov.uk/documents/20142/832341/Modern+Slavery+Statement+2019+.pdf/d314a8b2-8b75-71a7-086b-59670b4e1b97">Modern Slavery Act 2015</a> - Transparency Statement 2018-19 (PDF)
</p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


<ul class="govuk-list">
    <li>
        <a class="govuk-link" href="http://www.legislation.gov.uk/ukpga/2015/30/contents/enacted">Modern slavery legislation</a>
    </li>
    <li>
        <a class="govuk-link" href="https://www.gov.uk/government/collections/modern-slavery-bill">Modern slavery - UK Gov website</a>
    </li>
</ul>
</main>
