
<a href="#" class="govuk-back-link">Back</a>



<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" aria-current="page">About</a>
    </li>
  </ol>
</div>



<main class="govuk-main-wrapper" id="main-content" role="main">



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Page title</h1>


    <p class="govuk-body-l">Together with businesses, partners and residents, the Council is exploring how residents can be better supported into, and thrive within, good work.</p>
    <p class="govuk-body">Camden are committed to providing great employment support across the borough, to everyone who needs it.</p>
    <p class="govuk-body">We&#39;ve worked with our delivery partners to come up with an offer to residents that will provide holistic support close to where you live considering all the factors in your life that can sometimes make finding work or training pretty tough.</p>
    <p class="govuk-body">We&#39;ve spoken to loads of residents and community leaders over the last few months, and this has helped us to design a programme of support which will be responsive, easy to access and available to all Camden citizens.</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>We are developing neighbourhood job hubs located close to where you live, so that we can respond quickly and effectively to all your employmentand training needs.</li>
      <li>We work closely with employers in the area to make sure that local opportunities are available for local people.</li>
      <li>You can find support with us whatever your circumstances. We can help you for a year or a month, depending on your own situation and what you need from us. If you live in Camden you&#39;re eligible for Good Work Camden.</li>
      <li>We can support you with your job-search, your online applications forms, or to help you create a great CV. We can help you prepare if you have a job interview, or to find a volunteering role. We can work with you to figure out what your best skills are or identify a course to brush up on the rusty bits.</li>
      <li>If there&#39;s other stuff going on in your life that&#39;s impacting on your ability toreach your goals, we&#39;ll do our best to support you with those things too.</li>
      <li>Good Work Camden is here to stay. We&#39;re committed to building a service which will support local people into great jobs now and in the future.</li>
    </ul>
  </div>


  <div class="govuk-grid-column-one-third">
    <div class="gwc-side-content">
        <div class="gwc-side-content__heading">Related content</div>
        <ul class="gwc-side-content__list">
            <li><a href="#">Good Work Camden blog post</a></li>
        </ul>
    </div>
  </div>

</main>







  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you
          </h1>
          <div class="govuk-panel__body">
             We have received your message
          </div>
        </div>

        <p class="govuk-body">We have sent you a confirmation email.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We will review your message and if it requires a reply we will contact you.
        </p>
     
      </div>
    </div>
  </main>

<a href="/" class="govuk-back-link">Back to the homepage</a>





<main class="govuk-main-wrapper" id="main-content" role="main">



<h1 class="govuk-heading-xl">Heading h1</h1>


<p class="govuk-body-l">Lede</p>

<p class="govuk-body">Body text</p>

<p class="govuk-body govuk-!-font-weight-bold">
    Body text bold
</p>

<p class="govuk-body"><a class="govuk-link" href="#">link</a></p>


<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>Lists</li>
  <li>Lists</li>
</ul>



 <p>
        <a href="/services/" role="button" class="app-button app-button--start" draggable="false" data-module="govuk-button">Start now</a>
      </p>


 <p>
        <a href="/services/" role="button" class="app-button" draggable="false" data-module="govuk-button">
          Start now
        </a>
      </p>



</main>