
<!-- start template for all content pages -->
<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" aria-current="page">Styleguide</a>
    </li>
  </ol>
</div>

<!--uncomment this
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    </div>
  </div>
</main>-->
<!-- / end template for all content pages -->



<!-- begin 'styleguide' -->
<main class="govuk-main-wrapper" id="main-content" role="main">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Layout</h1>
        <p class="govuk-body">Each page follows the two thirds column style</p>
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Default layout structure
            </span>
          </summary>
          <div class="govuk-details__text">
            <pre>
        &lt;a href=&quot;#&quot; class=&quot;govuk-back-link&quot;&gt;Back&lt;/a&gt;

        &lt;div class=&quot;govuk-breadcrumbs &quot;&gt;
          &lt;ol class=&quot;govuk-breadcrumbs__list&quot;&gt;
            &lt;li class=&quot;govuk-breadcrumbs__list-item&quot;&gt;
              &lt;a class=&quot;govuk-breadcrumbs__link&quot; href=&quot;/&quot;&gt;Home&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;govuk-breadcrumbs__list-item&quot;&gt;
              &lt;a class=&quot;govuk-breadcrumbs__link&quot; aria-current=&quot;page&quot;&gt;Styleguide&lt;/a&gt;
            &lt;/li&gt;
          &lt;/ol&gt;
        &lt;/div&gt;


        &lt;main class=&quot;govuk-main-wrapper&quot; id=&quot;main-content&quot; role=&quot;main&quot;&gt;
          &lt;div class=&quot;govuk-grid-row&quot;&gt;
            &lt;div class=&quot;govuk-grid-column-two-thirds&quot;&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/main&gt;
        </pre>
          </div>
        </details>


        <div class="gwc-camden-divider"></div>

        <h1 class="govuk-heading-xl">Typography</h1>


        <h1 class="govuk-heading-xl">Page title Ullamcorper</h1>
        <p class="govuk-body-l">Page lede Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="govuk-body">General page paragraphs Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
        <p class="govuk-body govuk-!-font-weight-bold">Body text bold Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        <p class="govuk-body"><a class="govuk-link" href="#">link natoque penatibus</a></p>
    
        <div class="gwc-camden-divider"></div>



        <h1 class="govuk-heading-xl">Lists</h1>


        <p class="govuk-body govuk-!-font-weight-bold">Normal content list</p>
        <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
          <li>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</li>
          <li>Donec ullamcorper nulla non metus auctor fringilla.</li>
        </ul>

        <p class="govuk-body govuk-!-font-weight-bold">Icon list for features</p>
        <ul class="govuk-list gwc-list-icon">
          <li class="gwc-list-icon--check">Vulputate Lorem Parturient Porta Ligula</li>
          <li class="gwc-list-icon--check">Malesuada Risus Tristique</li>
          <li class="gwc-list-icon--check">Bibendum Ligula Dolor</li>
          <li class="gwc-list-icon--check">Vestibulum Condimentum Bibendum Ridiculus</li>
          <li class="gwc-list-icon--check">Porta Ligula</li>
        </ul>



        <div class="gwc-camden-divider"></div>

        <h1 class="govuk-heading-xl">Buttons</h1>

        <p><a href="/services/" role="button" class="app-button app-button--start" draggable="false" data-module="govuk-button">Start now</a></p>
        <p><a href="/services/" role="button" class="app-button" draggable="false" data-module="govuk-button">Start now</a></p>


        <div class="gwc-camden-divider"></div>




        <h1 class="govuk-heading-xl">Inset messages</h1>


        <div class="govuk-inset-text govuk-inset-text--blue">
            <p class="govuk-body govuk-!-font-weight-bold">
            COVID-19 information
            </p>
            <p>Despite the current situation with COVID-19, the service is working hard to continue to support Camden residents. 
            Information, advice and guidance is currently available over the phone and via email. </p>
        </div>





        <div class="gwc-camden-divider"></div>

        <h1 class="govuk-heading-xl">Service Features list</h1>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">How they can help</h2>
            <ul class="govuk-list gwc-list-icon">
              <li class="gwc-list-icon--check">Careers advice</li>
            </ul>  
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Who is it for?</h2>
            <ul class="govuk-list gwc-list-icon">
              <li class="gwc-list-icon--check">Careers advice</li>
            </ul>
          </div>
          <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Accessibility</h2>
            <ul class="govuk-list gwc-list-icon">
              <li class="gwc-list-icon--check">Careers advice</li>
            </ul>
          </div>
        </div>

        <div class="gwc-camden-divider"></div>




        <h1 class="govuk-heading-xl">Side content box</h1>

        <p class="govuk-body">Typicaly sits on the right third of a page layout</p>
        <p class="govuk-body">Has option of default or blue</p>

        <br /><br /><br /><br /><br /><br />

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">

        <div class="gwc-side-content">
          <div class="gwc-side-content__heading">More Information</div>
          <ul class="gwc-side-content__list">
              <li><a href="https://www.gov.uk/coronavirus">Coronavirus: The official UK government advice</a></li>
              <li><a href="https://www.nhs.uk/conditions/coronavirus-covid-19/">If you&#39;re worried about your health or have coronavirus symptoms, call NHS 111 or check the NHS website.</a></li>
          </ul>
        </div>

        <br /><br /><br /><br /><br /><br />

        <div class="gwc-side-content gwc-side-content--blue">
          <div class="gwc-side-content__heading">Related content</div>
          <ul class="gwc-side-content__list">
              <li><a href="#">Get employment support in camden</a></li>
          </ul>
          <div class="gwc-side-content__heading">Contact Details</div>
          <div class="gwc-side-content__divider"></div>
          <p class="govuk-body">Good Work Camden<br />5 Pancras Square<br />London<br />N1C 4AG</p>
          <p class="govuk-body"><span class="govuk-!-font-weight-bold">Email:</span> <a class="govuk-link" href="mailto:gwc@camden.gov.uk">gwc@camden.gov.uk</a>
          <br />
          <span class="govuk-!-font-weight-bold">Phone:</span> 020 7974 4444</p>
        </div>

        <br /><br /><br /><br /><br /><br />

        <div class="gwc-side-content gwc-side-content--blue">
          <div class="gwc-side-content__heading">Related content</div>
          <ul class="gwc-side-content__list">
              <li><a href="#">Good Work Camden blog post</a></li>
          </ul>
        </div>
        
        
        <br /><br /><br /><br /><br /><br />

        </div>
      </div>



              <div class="gwc-camden-divider"></div>



        <h1 class="govuk-heading-xl">Forms and Inputs</h1>





        <div class="govuk-form-group" id="form-name">

            <label class="govuk-label" for="name">
                Full name
            </label>

            <span class="govuk-error-message start-hidden">
              <span class="govuk-visually-hidden">Name:</span> Please enter your full name
            </span>


            <%= text_field_tag(:name, "", class: 'govuk-input govuk-input--width-20') %>

        </div>
        <p><%= button_tag("Finish", type: 'submit', class:'app-button app-button--start') %></p>




        
        <br /><br /><br /><br /><br /><br />



        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li><a href="#${errors.errorId}">Error text</a></li>
            </ul>
          </div>
        </div>



        <div class="govuk-form-group" id="form-name">

            <label class="govuk-label" for="name">
                Full name
            </label>

            <span class="govuk-error-message">
              <span class="govuk-visually-hidden">Name:</span> Please enter your full name
            </span>


            <%= text_field_tag(:name, "", class: 'govuk-input govuk-input--error govuk-input--width-20') %>

        </div>

        <p><%= button_tag("Finish", type: 'submit', class:'app-button app-button--start') %></p>





























        <div class="gwc-camden-divider"></div>



        <h1 class="govuk-heading-xl">Confirmation messages</h1>

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you
          </h1>
          <div class="govuk-panel__body">
             We have received your message
          </div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We will review your message and if it requires a reply we will contact you.
        </p>
     


  </div>



</main>


<a href="/" class="govuk-back-link">Back to the homepage</a>









  


