.app-button {
    border-radius: 30px;
	display: block;
	cursor: pointer;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
	font-size: 1.05rem;
    text-decoration: none;
    padding: 15px 55px;
    position: relative;
    text-align: center;

    background: none;
    border: 3px solid $bay-of-many;
    color: $bay-of-many;

    @include screen-min-width-600 {
        display: inline-block;
    }

    &:hover{
        border-color: lighten($bay-of-many, 10);
        color: lighten($bay-of-many, 10);
    }
    &:focus{
        outline: none;
        box-shadow: 0px 0px 0px 3px $govuk-focus-colour;
    }
    &:active{
        border-color: darken($bay-of-many, 40);
        color: darken($bay-of-many, 40);
    }

    &--start{
        background-color: $bay-of-many;
        color: var( --main-bg-white-color);

        &:hover{
            color: white;
            background-color: lighten($bay-of-many, 10);
            border-color: lighten($bay-of-many, 10);
        }
        &:active{
            color: white;
            background-color: darken($bay-of-many, 40);
            border-color: darken($bay-of-many, 40);
        }

        &:after{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 17L9.04025 9.5L2 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }


    &--small {

        padding: 5px 22px;
    }
}