.services-list{
    list-style: none;
    padding-left: 0;

    &__result{
        box-sizing: border-box;
        width: 100%;
        border-bottom: 1px solid transparentize($bg-black, 0.5);
        padding: 25px 0px;

        &:first-child{
            border-radius: 5px;
            border: 3px solid transparentize($bg-bright-blue, 0.75);
            padding: 25px;
        }
    }

    &__name{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    &__location{
        margin: 10px 0px;
        color: #505a5f;
        @include screen-min-width-500() {
            font-size: 1.1rem;
        }
    }

    &__summary{
        margin: 20px 0px;
        @include screen-min-width-500() {
            font-size: 1.1rem;
        }
    }

    &__selling-points{
        list-style: none;
        padding-left: 0;
        margin-bottom: calc(25px - 7px);
        @include screen-min-width-500() {
            font-size: 1.1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 25px;
        }

        li{
            margin-bottom: 7px;
            &:before {
                content: "\2713\0020";
                padding-right:2px;
                font-size: 1.3em;
                line-height: 0.8;
                color: $text-pink;
                font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
            }
        }

    }

    &__button{
        margin-left: auto;
        display: table;
        background: $bg-dark-blue;
        border-radius: 200px;
        font-weight: bold;
        color: white;
        padding: 15px 30px;
        text-decoration: none;
        font-size: 1.1rem;
        &:hover{
            background-color: darken($bg-dark-blue, 5);
        }
        &:active{
            background-color: darken($bg-dark-blue, 10);
        }
        &:focus{
            outline: none;
            box-shadow: 0px 0px 0px 3px $govuk-focus-colour;
        }
    }
}



.email-to-me{
    button{
        margin-top: 15px;
        cursor: pointer;
        display: inline-block;
        border: none;
        background: $bg-dark-blue;
        border-radius: 5px;
        font-weight: bold;
        color: white;
        padding: 12px 25px;
        text-decoration: none;
        font-size: 1rem;
        &:hover{
            background-color: darken($bg-dark-blue, 5);
        }
        &:active{
            background-color: darken($bg-dark-blue, 10);
        }
        &:focus{
            outline: none;
            box-shadow: 0px 0px 0px 3px $govuk-focus-colour;
        }
    }
}

@include screen-min-width-600-max-width-960() {
  

    .app-m-email-label{display:none!important;}

}

@include screen-max-width-600() {


   .app-m-email-label{display:none!important;}

}