
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= sanitize @user[:name] %>,</p>

    <p>Thank you for your interest in Good Work Camden</p>
    <p>You have requested to contact an advisor to help you with the right employment support.</p>
    <p>We can confirm that an advisor will be in touch with you within the next 2 days to arrange an initial appointment.</p>
    <br/><br/>
    <p>We look forward to meeting with you soon,<br/>
    Best wishes</p>
    <p>Good Work Camden</p>


  </body>
</html>