
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= sanitize @user[:name] %>,</p>

    <p>Thank you for contacting Good Work Camden's employment support service.</p>
    <p>Someone from the team will respond to you shortly.</p>

    <br/><br/>
    <p>Best wishes,<br/>
    Good Work Camden</p>


  </body>
</html>