




<div class="govuk-panel govuk-panel--confirmation" style="width:40%; background: #F2F2F2;border-radius: 14px;color: #1E2428;">
  <h1 class="govuk-panel__title">
        Thank you
  </h1>
  <div class="govuk-panel__body">
        We have received your message
  </div>
</div>


<p class="govuk-label">
    We have sent you a confirmation email
</p>

<p>
    <h3 class="govuk-heading-s">What happens next?</h3>
</p>

<p class="govuk-label">

    We will review your message and if it requires a reply
    <br/>we will contact you.

</p>


<a href="/" class="govuk-back-link">Back to the homepage</a>

